# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so

# Environment
.env
.env.*
!.env.sample

# Database
*.sqlite3
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
*.zip
*.tar.gz
dist/
build/

# Logs
*.log
logs/ 